
<h2>Welcome, {{user}}!</h2>

<div class="position-relative">

    <img src="./soccer-field.jpg" alt="soccer-field" id="field-img"/>

    <div id="onFieldPositions">

      <div class="positionContainer centerForward">

        <div class="centerForwardFlex">

          <ul class="container" data-position="Center Forward">
          </ul>
          <ul class="container" data-position="Center Forward">
          </ul>

        </div>
        
      </div>


      <div class="positionContainer midfielder">

        <div class="midFielderFlex">

          <ul class="container" data-position="Midfielder">
          </ul>
          <ul class="container" data-position="Midfielder">
          </ul>
          <ul class="container" data-position="Midfielder">
          </ul>

        </div>
        
      </div>

      <div class="positionContainer wingback">

        <div class="wingbackFlex">

          <ul class="container" data-position="Wingback">
          </ul>
          <ul class="container" data-position="Wingback">
          </ul>

        </div>
        
      </div>

      <div class="positionContainer centerBack">

        <div class="centerBackFlex">

          <ul class="container" data-position="Center Back">
          </ul>
          <ul class="container" data-position="Center Back">
          </ul>
          <ul class="container" data-position="Center Back">
          </ul>

        </div>
      
    </div>

      <div class="positionContainer goalie">

        <ul class="container" data-position="Goalie">
        </ul>

      </div>

    </div>

</div>


<div class="formBenchedFlex">

    <form class="addPlayerForm">
      <h2>Add a New Player</h2>
      <label for="newPlayerName">Player Name:</label>
      <input type="text" id="newPlayerName" name="newPlayerName" />
      <button type="submit" id="addNewPlayer">Add Player</button>
    </form>


  <div class="benchedContainer">
    <h2>Benched</h2>
    <ul class="container-benched" data-position="benched" id="benched">
      <li data-name="David Beckham" data-id="1">
        <span class="br"><img src="./jersey.png" class="jersey" alt="jersey"/></span>
        <span class="br name">Beckham</span>
      </li>
      <li data-name="Laura Baumann" data-id="2">
        <span class="br"><img src="./jersey.png" class="jersey" alt="jersey"/></span>
        <span class="br name">Baumann</span>
      </li>
    </ul>

    <!-- couldn't find a way to easily sort through players by position with handlebars. #each with further conditionals doesn't seem to work. so, by default and until finding a better solution, we are sorting them all default into the benched container (which will not change the position they came in with unless they are dragged in) and then an immediately invoked function will run a script to sort player to their respective positions if they have a preexisting one!-->

    <h2>Benched</h2>
    <ul class="container-benched" data-position="benched" id="benched">
        {{#each players}}
                <li data-name="{{name}}" data-id="{{id}}" data-position="{{position}}">
                    <span class="br"><img src="./jersey.png" class="jersey" alt="jersey"/></span>
                    <span class="br name">{{name}}</span>
                </li>
        {{/each}}
    </ul>
  </div>

</div>